<h1>NEW PAGE</h1>

<form action="/users" method='post'>

    <input type="text" name="user[fName]" id="user_fname">
    <input type="text" name="user[lName]" id="user_lname">
    <input type="text" name="user[email]" id="user_email">
    <input type="submit" value="Create User">

</form>